.component-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 460px;
  margin: 0px auto;
  background: black;
  padding: 40px;
  border-radius: 20px;
}

h1 {
  text-align: center;
}
